In [ ]:
import pandas as pd
import numpy as np
info = np.array(['P','A','N','D','A','S'])
a=pd.Series(info)
print(a)

0    P
1    A
2    N
3    D
4    A
5    S
dtype: object

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
name = ['Vikas','Vicky','Vivek','I']
id = ['101','102','103','104']
name_series = pd.Series(name)
id_series = pd.Series(id)
frame = {'Name':name_series,'ID':id_series}
result = pd.DataFrame(frame)
print(result)

    Name   ID
0  Vikas  101
1  Vicky  102
2  Vivek  103
3      I  104

In [ ]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
import pandas as pd
x = ['Vikas','vicky','both','Kaushal']
df = pd.DataFrame(x)
print(df)

         0
0    Vikas
1    vicky
2     both
3  Kaushal

In [ ]:
import pandas as pd
info = {'NAME':['vikas','vicky'],     'DEPARTMENT':['M.Tech','B.Tech']}
df = pd.DataFrame(info)
print(df)

    NAME DEPARTMENT
0  vikas     M.Tech
1  vicky     B.Tech

In [ ]:
import pandas as pd
info = {'Int':pd.Series(['1','2','3','4','5','6','7','8','9'], index=['a','b','c','d','e','f','g','h','i']),'Into':pd.Series(['15','28','39','40','55','66','78','81','90'],index=['a','b','c','d','e','f','g','h','i'])}
d1 = pd.DataFrame(info)
print(d1)

  Int Into
a   1   15
b   2   28
c   3   39
d   4   40
e   5   55
f   6   66
g   7   78
h   8   81
i   9   90

In [ ]:
import pandas as pd
import numpy as np
a = pd.Series(['java','cpp','c#',np.nan])
a.map({'java':'core'})

0    core
1     NaN
2     NaN
3     NaN
dtype: object

In [ ]:
import pandas as pd
import numpy as np
a = pd.Series(['Java','Python','C++',np.nan])
a.map({'java':'core'})
a.map('i like {}'.format,na_action='ignore')

0      i like Java
1    i like Python
2       i like C++
3              NaN
dtype: object

In [3]:
import array
arr = array.array("I",[2,4,6,8,10,12])
print("New Created Array: ",end="")
for i in range(0,6):
  print(arr[i],end="")
  print("\r")

New Created Array: 2
4
6
8
10
12

In [4]:
import pandas as pd
dict={'Name':["Vikas","Vicky","Viku"],'age':["20","19","18"]}
info = pd.DataFrame(dict,index=[True,True,False])
print(info)

        Name age
True   Vikas  20
True   Vicky  19
False   Viku  18

In [7]:
import numpy as np
arr = np.arange(16)
print("The original array is:\n",arr)
arr=np.arange(16).reshape(2,8)
print("\nreshaped array\n",arr)
arr=np.arange(16).reshape(8,2)
print("\nreshaped array\n",arr)

The original array is:
 [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]

reshaped array
 [[ 0  1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14 15]]

reshaped array
 [[ 0  1]
 [ 2  3]
 [ 4  5]
 [ 6  7]
 [ 8  9]
 [10 11]
 [12 13]
 [14 15]]